{{! Biography Tab }}
<section class='tab biography {{tab.cssClass}}' data-group='primary' data-tab='biography'>
  <div class="textarea fill">
    <div class="item-title">
      <label>{{localize "AFF.Biography"}}</label>
    </div>
    {{! Editors must receive enriched text data from getData to properly handle rolls, UUID links, etc. }}
    <prose-mirror name="system.biography" data-document-uuid="{{actor.uuid}}" value="{{system.biography}}"
      collaborate="true" toggled="true"  {{#unless editable}}disabled{{/unless}}>
      {{{enrichedBiography}}}
    </prose-mirror>
  </div>
</section>